<tr>
  <td><%= route.name %></td>
  <td><%= link_to t('common.show'), admin_route_path(route) , class: 'btn btn-sm btn-default', class: 'btn btn-sm btn-info' , class: 'btn btn-sm btn-info'%></td>
  <td><%= link_to t('common.edit'), edit_admin_route_path(route), class: 'btn btn-sm btn-warning' , class: 'btn btn-sm btn-warning'%></td>
  <td><%= link_to t('common.delete'), [:admin, route], method: :delete, data: { confirm: t('common.delete_confirm') }, class: 'btn btn-sm btn-danger' %></td>
</tr>
