

<h1><%= t('.title') %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Название маршрута</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @routes %>
  </tbody>
</table>



<%= link_to 'Создать маршрут', new_admin_route_path , class: 'btn btn-success' %>
