<h1>Редактирование билета</h1>

<%= render 'form' %>

<%= link_to t('common.show'), @ticket , class: 'btn btn-sm btn-info'%> |
<%= link_to t('common.back'), admin_tickets_path , class: 'btn btn-sm btn-default'%>
