<h1>Редактировать поезд</h1>

<%= render 'form' %>

<%= link_to t('common.show'), [:admin, @train] , class: 'btn btn-sm btn-info'%> |
<%= link_to t('common.back'), admin_trains_path , class: 'btn btn-sm btn-default'%>
