

<h1>Список поездов</h1>

<table class="table">
  <thead>
    <tr>
      <th>Номер поезда</th>
      <th>Находится на станции</th>
      <th>Следует по маршруту</th>
      <th >Сортировка вагонов</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>



<%= link_to 'Добавить поезд', new_admin_train_path , class: 'btn btn-success' %>
