<p>
  Привет <%= @ticket.passanger.name %>
</p>
<p>
  Ваш билет по маршруту: <%= @ticket.route_name %> был успешно удален
</p>
<p>
  Все свои билеты вы можете посмотреть <%= link_to 'здесь', tickets_url %>
</p>
<p>
  Что бы купить новый, Вы можете перейти по  <%= link_to 'данной ссылке', search_url %>
</p>
